Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter
PyJWT
requests
python-dotenv
psycopg2-binary
dj-database-url
cloudinary
firebase-admin
groq
reportlab
# Uncomment if you switch SMS_BACKEND to "twilio" in settings.py
# twilio==9.*
